.top {
  position: relative;
  width: 100%;

  &-sp_logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateY(0) translateX(-50%);
    text-align: center;

    img {
      width: 80%;
    }
  }

  &-pc_logo {
    display: none;
  }

  &-pc_back {
    display: none;
  }

  &-content {
    position: relative;
    width: 100%;
  }

  &-content01::before {
    @include toppic('../../img/top/sp_top_main.png');
  }

  &-content02::before {
    @include toppic('../../img/top/sp_about_main.png');
  }

  &-content03::before {
    @include toppic('../../img/top/sp_contact_main.png');
  }

  p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding-right: 0.5rem;
    color: #444444;
    line-height: 1.5;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  &-sns {
    display: block;
    position: absolute;
    background: url('../../img/others/sns.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 1rem;
    bottom: 0;
    z-index: 1;
    width: 5rem;

    button,
    a {
      font-size: 1.4rem !important;
      font-family: futura-pt, sans-serif !important;
      font-style: normal !important;
      font-weight: 500 !important;
    }

    &_tw {
      text-align: right;
    }
  }
}

@include mq('sp') {
  .top {
    &-content {
      position: relative;
      width: 92%;
    }

    &-sp_logo {
      display: none;
    }

    &-pc_logo {
      display: block;
      position: absolute;
      top: -100px;
      left: 18px;
      z-index: 1;
    }

    &-pc_back {
      display: block;
      position: absolute;
      top: -100px;

      img {
        width: 100%;
      }
    }

    &-content01::before {
      @include pc_toppic('../../img/top/pc_top_main.png');
      padding-top: 60%;
    }

    &-content02::before {
      @include pc_toppic('../../img/top/pc_about_main.png');
      padding-top: 40%;
    }

    &-content03::before {
      @include pc_toppic('../../img/top/pc_contact_main.png');
      padding-top: 40%;
    }

    p {
      width: 100%;
      bottom: 15rem;
      right: -8%;
      left: auto;
      text-align: right;
      font-size: 1.6rem;
      line-height: 2;
    }

    &-sns {
      right: -70px;
      bottom: 230px;

      button,
      a {
        font-family: 'Didact Gothic', sans-serif !important;
        font-size: 1.4rem !important;
      }

      &_tw {
        text-align: right;
      }
    }
  }
}
